h1 {
    margin: 30px 0 10px;
    border-bottom: solid 2px gray;
    font-size: x-large;
    font-style: bold;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

ul {
    list-style: circle;
    list-style-position: inside;
}

p {
    margin: 5px 0;
}
