.content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: small;
    text-decoration: none;
    color: black;
}

.published {
    text-align: right;
    font-size: xx-small;
    color: black;
}

.article {
    margin: auto;
    font-size: large;
}

.article a {
    text-decoration: none;
}

.article h1 {
    margin: 0;
    text-decoration: none;
}
