name: github pages

on:
    push:
        branches:
            - main

jobs:
    build-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.1

            - name: setup node
              uses: actions/setup-node@v6.1.0
              with:
                  node-version: '24.x'

            - name: Cache dependencies
              uses: actions/cache@v5.0.1
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: install
              run: yarn install --frozen-lockfile

            - name: build
              run: yarn build

            - name: add nojekyll
              run: touch ./out/.nojekyll

            - name: deploy
              uses: peaceiris/actions-gh-pages@v4.0.0
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./out
